.itm.encrypted.private.key
history.csv
scan.csv

!.mvn/wrapper/maven-wrapper.jar
logs/
*.db
# Maven
log/
/target/
target/
dependency-reduced-pom.xml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
.idea/
/.idea/
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
### VS Code ###
.vscode/
binaryFile/
*.lock
### MAC ###
**/.DS_Store
