<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{ISO8601}][%level][%thread][%logger{0}] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.itrustmachines" level="DEBUG"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>